# Copie este arquivo para .env e preencha com os dados do seu RDS.
# Nunca commite o .env de verdade no Git (ele já está no .gitignore).
DB_HOST=vinicius-cesar-school
DB_PORT=5432
DB_NAME=notasdb #criar durante a criação do RDS
DB_USER=postgres #criar durante a criação do RDS ou utilizar o existente
DB_PASSWORD=senha-do-rds
APP_PORT=8080
